.screen {
  background-color: #101d1f;
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #b0b3b9;
}
.header {
  margin: 0;
}
.sub {
  color: #02918c;
}
.container {
  text-align: center;
  position: absolute;
}
