.stack {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.description {
  width: 100vmin;
  margin: 20px;
}
.highlight {
  color: var(--primary);
}
.profile {
  width: 100%;
  max-width: 30vmin;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 2px var(--secondary);
}
.stack-icons {
  display: flex;
  padding: 20px;
  justify-content: center;
}
