.container {
  margin-bottom: 15vmin;
}
.description {
  width: 100vmin;
}
.highlight {
  color: var(--primary);
}
.profile {
  width: 100%;
  max-width: 30vmin;
  border-radius: 50%;
  margin: 20px;
}
